<!-- Bonus Salary Page -->
<!--<button mat-flat-button color="primary" [routerLink]="'salesman'">Back</button>-->
<h1 id='title'>Bonussalary</h1>
<p>
    Here, you can find the bonus salary of <b>{{ salesman.firstname }} {{ salesman.lastname }}</b>!
</p>
<p>
    You can add another bonus for the corresponding year →
    <button [routerLink]="'add-bonus'"
            [state]='{ salesman: salesman, salesOrders: salesOrdersData, products: products, bonuses: bonuses }'
            class='button' disabled
            id='button'
            mat-button>Add bonus
    </button>
    <span id='loadingInfo'></span>
</p>

<table [dataSource]='dataSource' class='mat-elevation-z8' mat-table>

    <!-- Year Column -->
    <ng-container matColumnDef='year'>
        <th *matHeaderCellDef mat-header-cell> Year</th>
        <td *matCellDef='let element' mat-cell> {{ element['year'] }}</td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef='value'>
        <th *matHeaderCellDef mat-header-cell> Value</th>
        <td *matCellDef='let element' mat-cell> {{ element['value'] }}</td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef='delete'>
        <th *matHeaderCellDef mat-header-cell> Delete</th>
        <td *matCellDef='let element'>
            <button (click)='deleteBonusOfSalesman( this.salesman.employeeid, element.year, element.value )'
                    class='button'
                    mat-mini-fab>
                <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
    </ng-container>


    <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
    <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
</table>
