<!--Bonuses-->
<h1>Bonus Salary Requests</h1>
<p>
    Here, you can find new bonus salary requests.<br>
    Either verify or decline the requests.<br>
</p>
<br>
<div *ngIf='this.allSalesman' id='ceobonus'>
    <table [dataSource]='dataSource' class='mat-elevation-z8' mat-table>
        <!-- ID Column -->
        <ng-container matColumnDef='id'>
            <th *matHeaderCellDef mat-header-cell> ID</th>
            <td *matCellDef='let element' mat-cell> {{ element.sid }}</td>
        </ng-container>

        <!-- Firstname Column -->
        <ng-container matColumnDef='firstname'>
            <th *matHeaderCellDef mat-header-cell> Firstname</th>
            <td *matCellDef='let element' mat-cell> {{ getDataFromSalesman(element.sid, 'firstname') }}</td>
        </ng-container>

        <!-- Lastname Column -->
        <ng-container matColumnDef='lastname'>
            <th *matHeaderCellDef mat-header-cell> Lastname</th>
            <td *matCellDef='let element' mat-cell> {{ getDataFromSalesman(element.sid, 'lastname') }}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef='year'>
            <th *matHeaderCellDef mat-header-cell> Year</th>
            <td *matCellDef='let element' mat-cell> {{ element.year }}</td>
        </ng-container>

        <!-- BonusValue Column -->
        <ng-container matColumnDef='bonusValue'>
            <th *matHeaderCellDef mat-header-cell> Value</th>
            <td *matCellDef='let element' mat-cell> {{ element.value }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef='actions'>
            <th *matHeaderCellDef mat-header-cell> Actions</th>
            <td *matCellDef='let element' mat-cell>
                <button [disabled]="!(this.user.role ===
                        'ceo')" [routerLink]="'ceobonusdetail'"
                        [state]='{ bonus: element, salesman:
                        this.getSalesmanWithID(element.sid), user: user }' color='primary' mat-mini-fab>
                    <mat-icon>
                        edit_note
                    </mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
    </table>

</div>
