<!--Salesman-->
<nav id='salesman-nav'>
    <button (click)='performAction(button.action)' *ngFor='let button of buttons' class='menu-salesman' color='primary'
            mat-button>{{ button.title }}
    </button>
</nav>
<br>
<h1>Salesman</h1>
<p>
    Here, you can find the Salesman of <b>SmartHoover</b>!
</p>
<p>
    <!--    Below, you can check the list corresponding to their credentials.-->
    Below, please enter the ID of one salesman to get corresponding data.
</p>

<mat-form-field appearance='fill'>
    <mat-label>Salesman ID</mat-label>
    <input [(ngModel)]='id' matInput name='salesman'>
</mat-form-field>

<button (click)='showSalesman( id )' color='primary' id='searchbutton' mat-flat-button>Search</button>

<table [dataSource]='dataSource' class='mat-elevation-z8' mat-table>

    <!-- ID Column -->
    <ng-container matColumnDef='id'>
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef='let element' mat-cell> {{ element['employeeid'] }}</td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef='firstname'>
        <th *matHeaderCellDef mat-header-cell> Firstname</th>
        <td *matCellDef='let element' mat-cell> {{ element['firstname'] }}</td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef='lastname'>
        <th *matHeaderCellDef mat-header-cell> Lastname</th>
        <td *matCellDef='let element' mat-cell> {{ element['lastname'] }}</td>
    </ng-container>

    <!-- Unit Column -->
    <ng-container matColumnDef='unit'>
        <th *matHeaderCellDef mat-header-cell> Unit</th>
        <td *matCellDef='let element' mat-cell> {{ element['unit'] }}</td>
    </ng-container>

    <!-- Bonus Column -->
    <ng-container matColumnDef='bonus'>
        <th *matHeaderCellDef mat-header-cell> Bonus</th>
        <td *matCellDef='let element' mat-cell>
            <button [routerLink]="'bonus'" [state]='{ salesman: element }'
                    color='primary' mat-flat-button>Show
            </button>
        </td>
    </ng-container>

    <!-- Social Performance Column -->
    <ng-container matColumnDef='socialperformance'>
        <th *matHeaderCellDef mat-header-cell> Social Performance</th>
        <td *matCellDef='let element' mat-cell>
            <button (click)='openDialog( element )' color='primary'
                    mat-flat-button>Add / Update
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
    <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
</table>
