<mat-card>
    <mat-card-header>
        <h1>{{ employee?.lastName }}, {{ employee?.firstName }} </h1>
    </mat-card-header>
    <mat-card-content>
        <table [dataSource]='reviews' class='mat-elevation-z8' mat-table>
            <ng-container matColumnDef='period'>
                <th *matHeaderCellDef mat-header-cell> Period</th>
                <td *matCellDef='let element' mat-cell> {{ element.period }}</td>
            </ng-container>

            <ng-container matColumnDef='opinionSum'>
                <th *matHeaderCellDef mat-header-cell> Summary</th>
                <td *matCellDef='let element' mat-cell> {{ element.opinionSum }}</td>
            </ng-container>

            <ng-container matColumnDef='remarks'>
                <th *matHeaderCellDef mat-header-cell> Remarks</th>
                <td *matCellDef='let element' mat-cell> {{ element.remarks }}</td>
            </ng-container>

            <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
            <tr *matRowDef='let row; columns: displayedColumns;' mat-row></tr>
        </table>
    </mat-card-content>
</mat-card>
<button (click)='testNotify()' mat-button>Test Notify Service</button>
