<mat-card>
    <mat-card-title>Employee List</mat-card-title>
    <p>Basic table for demonstrating backend data fetch</p>
    <table [dataSource]='dataSource' mat-table>
        <caption hidden>Shows list of employees</caption>
        <ng-container matColumnDef='employeeId'>
            <th *matHeaderCellDef mat-header-cell> Code.</th>
            <td *matCellDef='let element' mat-cell> {{ element.employeeId }}</td>
        </ng-container>
        <ng-container matColumnDef='fullName'>
            <th *matHeaderCellDef mat-header-cell> Full Name.</th>
            <td *matCellDef='let element' mat-cell> {{ element.fullName }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef='unit'>
            <th *matHeaderCellDef mat-header-cell> Unit</th>
            <td *matCellDef='let element' mat-cell> {{ element.unit }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef='jobTitle'>
            <th *matHeaderCellDef mat-header-cell> Job Title</th>
            <td *matCellDef='let element' mat-cell> {{ element.jobTitle }}</td>
        </ng-container>

        <ng-container matColumnDef='supervisor'>
            <th *matHeaderCellDef mat-header-cell> Supervisor</th>
            <td *matCellDef='let element' mat-cell>
                <ng-container *ngIf='element.supervisor'>
                    <ng-container *ngFor='let s of element.supervisor'>
                        {{ s.name }}
                    </ng-container>
                </ng-container>
            </td>
        </ng-container>

        <tr *matHeaderRowDef='displayedColumns' mat-header-row></tr>
        <tr *matRowDef='let row; columns: displayedColumns;' [routerLink]="'/employees/' + row.employeeId" mat-row></tr>
    </table>
</mat-card>

